body {
	background-color: #0b1528;
	color: #dbe0e9;
	font-family: sans-serif;
}

a {
	color: #ad0b2f;
}

#tp {
	text-align: center;
}

#fr {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
}

#sd {
	text-align: center;
}

ul {
	text-align: center;
}

li {
	color: #3380ff;
}

footer {
	text-align: center;
}