body {
	background-color: #0b1528;
	color: #dbe0e9;
	font-family: sans-serif;
	text-align: center;
}

a {
	color: #ad0b2f;
}

ul {
	text-align: center;
}

li {
	color: #3380ff;
}

footer {
	text-align: center;
}